@page "/Setting"


<div class="card" style="height:550px">
    <div class="card-header bg-primary text-light">
        Setting
    </div>
    <div class="card-body">
        <TabSet>
            <Tab Title="ORGANISATION">
                <SettingOrganisationDetail />
            </Tab>
            <Tab Title="ORGANISATION BRANCH">
                <SettingOrganisationBranchDetail />
            </Tab>
            <Tab Title="BANK">
                <SettingBankDetail />
            </Tab>
            <Tab Title="BANK BRANCH">
                <SettingBankBranchDetail />
            </Tab>
            <Tab Title="RELATION">
                <SettingRelationDetail />
            </Tab>
            <Tab Title="PERSON TITLE">
                <SettingPersonTitleDetail />
            </Tab>
            <Tab Title="COUNTRY">
                <SettingCountryDetail />
            </Tab>
            <Tab Title="STATE">
                <SettingStateDetail />
            </Tab>
            <Tab Title="CITY">
                <SettingCityDetail />
            </Tab>
            <Tab Title="OTHERS">
                <SettingOtherDetail />
            </Tab>
        </TabSet>
    </div>

</div>
